<htmL>
  <body>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
    <div class="container">
      <div class="converter-box">
        <h3 class="title">Currency Converter</h3>
        <input class="text-area" placeholder="Enter Amount to Convert" type="text" />
        <div class="selector-container">
          <div>
            <p>From</p>
            <select class="selector">
              <option value="Naira">Trinidad/Tobago Dollar</option>
              <option value="Euro">Euro</option>
              <option value="Pounds">Pounds</option>
              <option value="Cedes">United Arab Emirates Dirham</option>
            </select>
          </div>

          <div>
            <p>To</p>
            <select class="selector">
              <option value="Naira">Euro</option>
              <option value="Euro">Naira</option>
              <option value="Pounds">Pounds</option>
              <option value="Cedes">United Arab Emirates Dirham</option>
            </select>
          </div>
        </div>
        <p class="conversion_output">0</p>
        <p class="conversion_output-summary">
          1 Trinidad/Tobago Dollar equals 2345.344 Euro
        </p>
      </div>
    </div>
  </body>
</htmL>
