body {
  color: white;
}
.converter-box {
  padding: 15px;
  background: rgba(43, 1, 37, 0.8)
}
.container {
  border: 1px solid #420039;
  width: 450px;
  margin: 10% auto;
  padding: 5px;
  border-radius: 4px;
  background: transparent;
}  
.selector {
  background-color: #932f6d;
  height: 30px;
  font-size: 14px;
  border-radius: 4px;
}
.text-area {
  width: 97%;
  padding: 10px 5px;
  border: 2px solid #420039;
  border-radius: 4px;
}
.selector-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.conversion_output {
  margin-top: 10px;
  font-size: 40px;
  text-align: right;
}
.conversion_output-summary {
  text-align: right;
  font-size: 25px;
}
.title {
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width: 600px) { 
	.container {
    margin: 30% auto;
		width: 90%;
    }
  .conversion_output {
      text-align: left;
    }
  .conversion_output-summary {
      text-align: left;
    }
}